<style>
.h3{font-family: Gill Sans, Verdana;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;}
h1{
 font: bold 30px "Century Schoolbook", Georgia, Times, serif;
	color: #333;
	line-height: 90%;
	margin: .2em 0 .4em 0;
	letter-spacing: -2px;
}
</style>
<h1>Page d'accueil des Questions</h1>
<p class="h3">Cette page liste les questions posées</p>
<p><%= link_to "Nouvelle question", new_question_path , :class=>"btn btn-info"%></p>
<div class="question">

<hr/>

  <% @questions.each do |question|%>
<div class="panel panel-default">
  <div class="panel-heading">
 
<h2 class="panel-title"> <u><%=  link_to question.title, question_path(question) %></u> par <u><%= link_to question.user.login, question.user %></u> </h2>
  </div>
  <div class="panel-body" style="height:30px" >
     <% unless question.tags.blank? %>
     <ul class="tags"> 
       <% question.tags.each do |tag|%>
       <li><a href="<%= tag_path(tag)%>"><%= tag.name%></a></li>
       <%end%>
     <%end%>
    </ul>
   
  </div>
</div>
<br/>
<%end %>

  
  
</div>

