<h3>Toutes les questions</h3>

<p><%= link_to "Nouvelle question", new_question_path , :class=>"btn btn-info"%></p>

<div class="question-list">

  <%= will_paginate @questions %>

  <table class="table">
    <tbody>
      <% @questions.each do |question|%>

      <tr class='clickableRow'> 

        <td class = "question-info">
          <div class = "q-info">

            <div class="date">
              <%=  time_ago_in_words(question.created_at) %>
            </div>
            <div class="score">
             <%= pluralize(question.score, "vote") %>
           </div>
           <div class="answers">
             <%=  pluralize(question.answers.count, "réponse") %>
           </div>

           <div class="views">
            <%=  pluralize(question.views, "vue") %>
          </div>



        </div>
      </td>


      <td> <!-- ***************************************** -->

        <%= render :partial => "shared/user_mini", :locals => {:user => question.user} %>
        <div>
          <h4>  <%=  link_to question.title, question_path(question) %></h4>
          <p>
            <%= truncate(Nokogiri::HTML(question.content).text, length: 100) %> 
          </p>
        </div>




        <% unless question.tags.blank? %>

        <% question.tags.each do |tag|%>
        <u class="post-tag"><a href="<%= tag_path(tag)%>"><%= tag.name%></a></u>
        <%end%>
        <%end%>

      </td><!-- ***************************************** -->

    </tr>


    <%end %>
  </tbody>
</table>
<%= will_paginate @questions %>

</div>



<div id="stackoverflow"  >
  <div class="navbar-form">
    <div class="form-group">
      <input id="question_mark" onKeyPress="search_on_stackoverflow();" class="form-control" placeholder="Rechercher sur StackOverflow" type="text"  />
      <input type="button" class="btn btn-default" onClick="search_on_stackoverflow();" value="Ok"/>
    </div>
  </div>

  <div id="question_list">
   <!-- Liste des questions sur StackOverflow -->
 </div>
</div>
