 <%= javascript_include_tag 'ckeditor/ckeditor.js'%>
 <%= javascript_include_tag "shCore.js","shLegacy.js", "shBrushJScript.js","shBrushAppleScript","shBrushAS3.js"%>
 <%=javascript_include_tag "shBrushBash.js","shBrushColdFusion.js","shBrushCpp.js","shBrushCSharp.js","shBrushCss.js"%>
 <%=javascript_include_tag "shBrushDelphi.js","shBrushDiff.js","shBrushErlang.js","shBrushGroovy.js","shBrushJava.js"%>
 <%=javascript_include_tag"shBrushJavaFX.js","shBrushPerl.js","shBrushPhp.js","shBrushPlain.js","shBrushPowerShell.js"%>
 <%=javascript_include_tag "shBrushPython.js","shBrushRuby.js","shBrushSass.js","shBrushScala.js","shBrushSql.js" %>   
 <%=javascript_include_tag  "shBrushVb.js","shBrushXml.js" %>
<%= javascript_include_tag "fadeIn.js"%>
 
<h1>Nouvelle question</h1>

<div class="form-group">
  
  <%= form_for @question do |f| %>
  <p>
    <%= f.label :title, "Titre :" %><br/>
    <%= f.text_field :title, class:"form-control" %>
  </p>
  
  <p>
    
    <%= f.label :content, "Question :" %><br/>
    <%= f.text_area :content, class:"form-control", rows:"5" %>
  </p>
  
  <p>
    <%= f.label :tag_tokens, "Tags :" %><br/>
    <%= f.text_field :tag_tokens, class:"form-control", "data-pre" => @question.tags.map(&:attributes).to_json %> (5 tags au max)
    
  </p>
  Tag non trouvé?<a id="ajoutTag"> ajouter tag</a>
  
  <p>
    </br>
    <%= f.submit "Envoyer !", class:"btn btn-default" %> <br/>
  </p>
  <% end %>
  
</div>


<div id="black"></div>
<div id="div8" class="style8">
  
  <%= form_for @tag do |f| %>
  <p>
    Name : 
    <%= f.text_field :name, class:"form-control" %>
  </p>
  
  <p>
    Description : 
    <%= f.text_area :description, class:"form-control", rows:"3" %>
  </p>
  <p>
    <%= f.submit "Envoyer !", class:"btn btn-default" %> <br/>
  </p>
  <% end %>
  
</div>

<script type="text/javascript">
     $('#ajoutTag').click(function()
            {

                      $('#black').attr('class',"black");
                      $('#black').fadeIn();
                      $('#black').stop().animate({opacity:'0.8',},1000);  
                      $("#div8").fadeIn("slow");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                    
                    

            });



$(document).keyup(function(e) {

  if (e.keyCode == 27) { 
    $('#black').delay(500).animate({opacity:'0',},500);
    $('#div8').fadeOut();
   
    $('#black').fadeOut();
  }   // esc
});
</script>
