 <%= javascript_include_tag 'ckeditor/ckeditor.js'%>
 <%= javascript_include_tag "shCore.js","shLegacy.js", "shBrushJScript.js","shBrushAppleScript","shBrushAS3.js"%>
 <%=javascript_include_tag "shBrushBash.js","shBrushColdFusion.js","shBrushCpp.js","shBrushCSharp.js","shBrushCss.js"%>
 <%=javascript_include_tag "shBrushDelphi.js","shBrushDiff.js","shBrushErlang.js","shBrushGroovy.js","shBrushJava.js"%>
 <%=javascript_include_tag"shBrushJavaFX.js","shBrushPerl.js","shBrushPhp.js","shBrushPlain.js","shBrushPowerShell.js"%>
 <%=javascript_include_tag "shBrushPython.js","shBrushRuby.js","shBrushSass.js","shBrushScala.js","shBrushSql.js" %>   
 <%=javascript_include_tag  "shBrushVb.js","shBrushXml.js" %>

 <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="1200"></div>
 <h2> <%=  link_to @question.title, question_path(@question) %>  </h2>
 <hr />
  <%= render :partial => "shared/question_print", :locals => {:question => @question} %>
<%= link_to "Répondre", new_answer_path(:question_id => @question.id), :class=>"btn btn-info" %>
<!-- ******************************partie Reponses *************************** -->



<h3> <%= pluralize(@answers.count, "réponse") %></h3>
<hr />
<% @answers.each do |answer| %>
<div class="answer <%= 'validated-answer' if answer.validated %>"
style="padding:0px;">

<div id="<%=answer.id%>x" class="alert alert-warning
 alert-dismissable" style="DISPLAY: none" >
 <button type="button" class="close" data-dismiss="alert"
 aria-hidden="true">&times;</button> Vous ne pouvez pas
 voter pour votre propre réponse!
</div>
<table style="text-align: left; width: 100%;
border-radius: 5px;
border-collapse: separate;">
<tbody>

 <tr>
  <td class="score-frame <%= 'validated' if answer.validated %>"
  width="55">
  <center id= <%=answer.id%> >
    <%= answer.votes_for-answer.votes_against %>
  </center>
</td>
<td style="vertical-align: top; padding-left:8px;">
  <%= render :partial => "shared/user_mini", :locals => {:user => answer.user} %>
  <div class="answer-content" >
    <%= answer.content.html_safe %>
  </div>

</td>
</tr>

<tr>
  <td>
    <%= link_to(
      content_tag(:span, "",
        { :class => "glyphicon glyphicon-thumbs-up" }),
      vote_for_answer_path(answer), {
        :remote => true,
        :class =>"btn btn-default btn-xs",
        :style => "margin:0px"}) %>
    <%= link_to(
      content_tag(:span, "",
        { :class => "glyphicon glyphicon-thumbs-down" }),
      vote_against_answer_path(answer), {
        :remote => true,
        :class =>"btn btn-default btn-xs",
        :style => "margin:0px"}) %>
      </td>

      <td style="text-align: left; padding-left: 8px">
        <% if (current_user == answer.user) %>
        | <%= link_to "Editer cette reponse",
        edit_answer_path(answer)
        %> |
        <%= link_to "Supprimer réponse", answer_path(answer),
        :confirm => "Êtes vous sûr de vouloir supprimer cette réponse?",
        :method => :delete %>
        <% end %>
        <% if (current_user == @question.user) %>
        | <%= link_to "Valider",
        validate_answer_path(answer)
        %> |
        <%= link_to "Supprimer réponse", answer_path(answer),
        :confirm => "Êtes vous sûr de vouloir supprimer cette réponse?",
        :method => :delete %>
        <% end %>
        | <%= link_to "Commenter", new_comment_answer_path(:parent_id => answer.id) %>
      </td>
    </tr>

  </tbody>
</table>

<div class ="question-comments">
  <%= render :partial => "shared/comment", :locals => {:parent => answer} %> 
</div>




</div>
<% end %>

