<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>

<% unless form_is_to_edit %>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login , class:"form-control"%>
  </div>
<% end %>

<div class="field">
  <%= f.label :prénom %><br />
  <%= f.text_field :name , class:"form-control"%>
</div>
<div class="field">
  <%= f.label :nom %><br />
  <%= f.text_field :lastname, class:"form-control"%>
</div>
<div class="field">
  
  <%= label_tag 'Filière', 'Filière' %>
  <div class="radio-toolbar">
    <%= f.radio_button("study","1") %>
    <%= label_tag 'user_study_1', 'Informatique' %>
    
    <%= f.radio_button("study","2") %>
    <%= label_tag 'user_study_2', 'Matméca' %>
    
    <%= f.radio_button("study","3") %>
    <%= label_tag 'user_study_3', 'Electronique' %>

    <%= f.radio_button("study","4") %>
    <%= label_tag 'user_study_4', 'Télécommunications' %>

  </div>
  
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email , class:"form-control"%>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password , class:"form-control"%>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br />
  <%= f.password_field :password_confirmation , class:"form-control"%>
</div>
</br>
<div class="actions">
  <%= f.submit "Inscription", class:"btn btn-default"  %>
</div>
<% end %>
