<h1> Profil utilisateur </h1>

<div class="profil well">

  
  <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="2650"></div>

 <td><%= image_tag avatar_url(@user,125) %></td>
<%gravatar_sign_in ="https://public-api.wordpress.com/oauth2/authorize?client_id=1854&response_type=code&blog_id=0&state=964ea79a50b7366378009aead9bd340235d25c3dcad4ba1fba696b8c64acd9ea&redirect_uri=https%3A%2F%2Fen.gravatar.com%2Fconnect%2F%3Faction%3Drequest_access_token"%>
<div>  <%= link_to(
      content_tag(:span, "",
        { :class => "glyphicon glyphicon-edit" }),
      edit_avatar_user_path(@user), {
        :remote => true,
        :class =>"btn btn-default btn-xs",
        :style => "margin:0px"}) %>

<span style="color:#80BFFF">Changer avatar</span></div>
 
  <h2> ~<%= @user.login %> 
    <% unless @user.name.blank? or @user.lastname.blank? %>
    (<%= @user.name %> <%= @user.lastname %>) 
    <% end %>
  </h2>
  

  <% unless @user.study.nil? %>
  <p>Filière : <%= (show_study @user.study).html_safe %></p>
  
  <% end %>

  <!--Affichage du badge -->



  <!--  Nombre de points : <%= @user.points %>-->
  <h4> Réputation : <span class="label label-info"><%= @user.karma %></span> </h4>

  <h4>Badges obtenus : </h4>
  <% @user.badges.each do |badge| %>
  <div class = "badge <%= badge.metal %>">
    <%= badge.official_name %> 
    <!-- <p> Description : <%= badge.description %></p> -->
  </div>
  <% end %>

  <div>
    <% if (current_user == @user) %>
    <span style="color:#80BFFF">
      <%= link_to "Editer profil",edit_user_path(@user) %>
  </span>
    <% end %>
  </div>
  



</div>

 <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
    Questions
    </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= render :partial => "shared/question_list", :locals => {:questions => @user.questions} %>
        </div>
      </div>
    </div>
