*<h1> Profil utilisateur </h1>

<div class="profil">
  <h2> <%= @user.login %> (<%= @user.name %> <%= @user.lastname %>) </h2>
  Filière : 
  <% if @user.study == 1 %>
  <%= "Informatique" %>
  <% else if @user.study == 2 %>
  <%= "Matméca" %>
  <% else if @user.study == 3 %>
  <%= "Electronique" %>
  <% else if @user.study == 4 %>
  <%= "Télécommunication" %>
  <% end %>
  <% end %>
  <% end %>
  <% end %> <br/>
<!--  Nombre de points : <%= @user.points %>-->
  Reputation: <%= @user.karma %>

</div>
