  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">StackUnderflow</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Posts", posts_path %> </li>
        <li> <%= link_to "Questions", questions_path %> </li>
        <li> <%= link_to "Tags", tags_path %> </li>
        <li> <%= link_to "Utilisateurs", users_path %> </li>
        <li> <%= link_to "Badges", badges_path %> </li>
      </ul>
      <!--                                    -->        


      <!-- **********************************************************************************-->      
      <!-- jQuery pour AUTOCOMPLETION -->

      <script type="text/javascript">
        $(function() {

          $('#search').autocomplete({
            minLength: 2,
            source: 

            function( request, response ) {
              $.ajax({
                url: "<%= controller_name%>",
                dataType: "json",
                data: {term: request.term},
                success: function(data) {
                  response($.map(data, function(item) { 
                   var nom_controller = "<%=controller_name%>"
                   if (nom_controller == "users")
                    { return {
                      label: item.lastname+' '+item.name,
                      id: item.id,
                    }
                  } 

                  else if (nom_controller == "tags")
                  {
                    return {
                      label: item.name,
                      id: item.id,
                    }

                  }
                  else
                  { 
                   return {
                    label: item.title,
                    id: item.id,

                  }}
                }));
                }
              });
            } ,

            focus: function(event, ui) {
              $('#search').val(ui.item.label);
              return false;
            },

            select: function(event, ui) {
              $('#search').val(ui.item.label);
              $('#search_id').val(ui.item.id);
              return false;
            }
          })

  _renderItem = function( ul, item ) {
    return $( "<li></li>" ).data( "ui-autocomplete", item )
    .append( "<a>"+ ul.item.label +'</a>' ) 

    .appendTo( ul ); 



  };

});
</script>


<!-- fin javascript pour autocompletion -->

<!-- Rq: l'id de la balise est son name-->

<% nom_controller = controller_name %>
<%= form_tag controller_name, method: :get, :class => "navbar-form navbar-left" do %>
<div class="form-group">  
  <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Rechercher"+' '+nom_controller %> 

</div>
<input id="search_id" name="post[id]" type="hidden"/>
<%= submit_tag "Ok", name: nil, class: "btn btn-default" %>
<% end %>  
<!--  ****************** Fin formulaire recherche***************************** -->



<ul class="nav navbar-nav navbar-right">

 <% if signed_in? %>

 <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compte <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Profil", user_path(current_user) %></li>
    <li><%= link_to "Paramètres", edit_user_path(current_user) %></li>
    <!-- <li><a href="#">Mes posts</a></li> -->
    <li class="divider"></li>
    <li><%= link_to "Déconnexion", signout_path, :method => :delete %></li>
  </ul>
  </li>

  <% else %>

  <ul class="nav navbar-nav">
    <li> <%= link_to "S'identifier", new_session_path %> </li>
    <li> <%= link_to "S'inscrire", new_user_path %> </li>

  </ul>


  <% end %>

</ul>
</div><!-- /.navbar-collapse -->
</nav>


