<div class="post">
  <h2> <%=  link_to @post.title, post_path(@post) %> par <%= link_to @post.user.login, @post.user %></h2>
  <p> <%= simple_format(@post.content()) %>  </p>
  <p> Édité <%= @post.editionNo%>  fois </br>
    <% if (current_user == @post.user) %>
    <%= link_to "Editer ce post", edit_post_path(@post) %>  | 
    <%= link_to "Supprimer ce post", post_path(@post), :confirm => "Êtes vous sûr(e) de vouloir supprimer ce post?", :method => :delete %>  
    <% end %>
  </p>
  <hr />
</div>
