<!DOCTYPE html>
<html>
<head>
  <title>StackUnderflow</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "token-input" %>
  <%= javascript_include_tag "application","jquery.tokeninput" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <!-- tests -->

  <header>
  <%= render :partial => "shared/menu" %>
  </header>
  <!-- Fin des tests -->

  <!--FLASH HASH -->
  <% flash.each do |key, value| %>
  <div class="alert alert-info"> <%= value %>  </div>
  <% end %>



  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
